.bigContainer {
    background: hsl(227, 10%, 10%);
    height: auto;
}

.secContainer {
    padding: .5em;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 2em;
}

.projContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 2px lightgray;
    border-radius: 20px;
    padding: 1em;
    max-width: 1180px;
}

.projContainer>img {
    width: 100%;
    border-radius: 20px;
}

.header>h1 {
    color: #ff8922;
}

.header {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.projTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projTextContainer>h2 {
    color: #ff8922;
}

.projTextContainer>p>span {
    font-weight: 700;
}

.projTextContainer>a {
    color: #e4cb58;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .7rem;
}

.projTextContainer>a:hover {
    color: #ff8922;
}




@media (min-width: 600px) {
    .projContainer>img {
        max-width: 400px;
    }

    .header {
        max-width: 1200px;
    }

    .projContainer {
        align-items: center;
        text-align: left;
    }

    .projTextContainer>p {
        font-size: 1.2rem;
    }

    .projTextContainer>a {
        font-size: 1rem;
    }
}

@media (min-width: 1000px) {

    .secContainer {
        text-align: center;
    }

    .projContainer {
        flex-direction: row;
    }

    .projContainer>img {
        max-width: 600px;

    }

    .header>h4 {
        font-size: 1.4rem;
    }

}

@media (min-width: 900px) {
    .projTextContainer>p {
        font-size: 1.4rem;
    }
}