.container {
    background: hsl(227, 10%, 10%, .9);
    bottom: 0;
    height: 100%;
    padding: 1em;
    gap: 2em 1em 1em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.container>h2 {
    margin: 0;
}

.container>h2>span {
    color: lightgray;
}

.footerButton {
    color: dimgray;
    border: 2px solid lightgray;
    color: lightgray;
    text-align: center;
    background-color: inherit;
    padding: .5em;
    border-radius: 10px;
    max-width: 150px;
    font-size: 1.3rem;
    font-weight: 700;
}

.footerButton:hover,
.footerButton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #e4cb58;
    border: 2px solid #e4cb58;
    box-shadow: 2px 2px 2px rgba(228, 203, 88, 0.8)
}

.socialIcon {
    color: dimgray;
    color: lightgray;
    font-size: 2rem !important;
    border: 3px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

.socialIcon:hover,
.socialIcon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #e4cb58;
    border-radius: 10px;
    border: 2px solid #e4cb58;
    box-shadow: 2px 2px 2px rgba(228, 203, 88, 0.8)
}

.socialMContainer {
    display: flex;
    gap: 1em;
    padding: 2em;
}